* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ebe9d2;
	background-image: url("../img/bg2.png");
	height: 100vh;
	font-family: "Verdana", sans-serif;
}
	
#header {
	background: #d6cc99;
	background-image: url("../img/bg-rjav.png");
	height: 80px;
}

#header h1 {
	color: #e3e0ba;
	margin-top: 0;
	padding-top: 15px;
	padding-left: 20px;
	font-family: 'Bitter', serif;	
}

#content {
	width: 70%;
	float: left;
}

#sidelist {
	width: 29%;
	float: right;
	position: relative;
    padding-top: 2vh;
    padding-right: 1%;
/*
	height: 90vh;
*/
}


 /** Seznam s filtriranjem **/
 
#seznam {	
	padding-top: 2vh;
	padding-bottom: 2vh;
	padding-right: 15px;
	padding-left: 15px;
	background-image: url("../img/bg-zelen2.png");
}

#seznam-div {
	height: 73vh;
	overflow: scroll;
	overflow-x: hidden;
	color: #ebe9d2;
}

#seznam input {
	border: 0;
	border-bottom: 1px solid #ebe9d2;
	padding: 3px 5px 2px 5px;
	background: none;
	width: 95%;
	font-size: 1.0em;	
}

#seznam form {
	margin-bottom: 2vh;
}

#seznam ul {
	padding: 0 5px;
	list-style-type: none;
	color: #ebe9d2;
}

#seznam ul a{
	text-decoration: none;
}

#seznam ul button:hover {
/*
	color: #fff;
*/
}

#seznam button {
	background: none;
	border: none;
	padding: 1px;
	margin: 0;
	font-size: 0.9em;
	color: #ebe9d2;
	text-align: left;
}

#seznam button:hover {
	color: #ffffff;
}



/** Graf tipov **/
circle {
	border: 1px solid black;
}

div#graph {
	width: 100%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

.text-rect {
	width: 100px;
}

.tooltip {
  position: absolute;	
  text-align: center;	
  width: 150px;	
  height: 75px;	
  font-size: 0.75em;	
}

.tooltip .info {
  background: url("../img/bg-zelen2.png");
  background-opacity: 80%;		
  padding: 5px;	
  border: 0px;					
  border-radius: 8px;	
  color: #ebe9d2;
}

.tooltip .info a{
	color: #ebe9d2;
}

.tooltip .info a {
	color: #ebe9d2;
}

.tooltip .info a:hover {
	color: #fff;
}



/** Posamezni variantni tip **/

#overlay {
	visibility: hidden;
	position: fixed;
    width: 100%;
	height: 100%;

}
#vartip {
	width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    min-height: 550px;
    background: #e5be16;
    padding: 20px;
}

div#zapri {
	float: right;
}

#zbutton {
	background: none;
	border: none;
}
#map {
	width: 80%;
	min-width: 400px;
	height: 70%;
	min-height: 300px;
	margin: 10px auto;
}

#chart {
/*
	height: 25%;
*/
	width: 90%;
	margin: 0 auto;
}
h2 {
	font-size: 1.1em;
	font-family: 'Bitter', serif;	
	color: #5e3426;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
	stroke: #be2422;
	stroke-width: 1px;
}

#vartip p {
	padding: 5px;
	margin-top:10px;
}

#vartip a {
	color: #000;
	text-decoration: none;
}

#vartip a:hover {
	color: #fff;
}

/** Besedilo **/
#besedilo {
	margin:5px;
}

#besedilo p {
	padding-top: 30px;
	margin: 10px;
}
